<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Tomcat LogIn Test Suite">
   <test name = "Tomcat LogIn Test">
      <classes>
         <class name = "com.training.sanity.tests.Test_InvalidLogin" />
         <class name = "com.training.sanity.tests.Test_Login" />
      </classes>
   </test>
</suite>	